full-migration/source-files/sourceIP
full-migration/source-files/sourcePASS
full-migration/source-files/sourcePORT
full-migration/source-files/sourceUSER
full-migration/destination-files/destinationIP
full-migration/destination-files/destinationPASS
full-migration/destination-files/destinationPORT
full-migration/destination-files/destinationUSER
full-migration/preliminary/dedipaccts
full-migration/preliminary/domain_conflicts
full-migration/preliminary/domains
full-migration/preliminary/ips
full-migration/preliminary/ips_needed
full-migration/preliminary/restore_to_shared
full-migration/preliminary/sharedipaccts
full-migration/preliminary/target_ips
full-migration/preliminary/target_partial
full-migration/preliminary/user_conflicts
full-migration/preliminary/users
full-migration/preliminary/validip-src
full-migration/preliminary/validip-dest
full-migration/location
full-migration/destinationIPtest
full-migration/sourceIPtest
full-migration/workstation-check/workstation
full-migration/scripts/logs/cpmove.log
full-migration/scripts/logs/pkgacct.log
full-migration/preliminary/userlist_exclude
full-migration/preliminary/conflict_override
.vimrc
